<!-- 取引先のリスト編集 -->

<meta name="viewport" content="width=device-width,initial-scale=1">

<header class="align">

  <nav class="navigation navigation--inline">
    <ul>
      <li>
        <a href="https://otask.herokuapp.com/lists">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bell">
          <span class="invisible">　<　</span>
        </a>
      </li>
    </ul>
  </nav>

</header>

<%= form_for @list do |form| %>
  <div class="mokuji"><%= form.label :変更後の取引先を登録 %></div>
  <div class="fm"><%= form.text_field :name, size: "25x1", style: "font-size:30px", placeholder: "例: ◯△□製作所", class: "smfield" %></div>

  <div class="field">
    <h9><%= form.label :郵便番号 %></h9><br />
    <%= form.text_field :customers_postal_code, size: "50x1", style: "font-size:20px", placeholder: "123-4567" %>
  </div>

  <div class="field">
    <h9><%= form.label :住所 %></h9><br />
    <%= form.text_field :customers_address, size: "50x1", style: "font-size:20px", placeholder: "大阪府 〇〇市 〇〇 -1234-5678" %>
  </div>

  <div class="field">
    <h9><%= form.label :電話番号 %></h9><br>
    <h9>(※請求書や納品書などに普段記載している電話番号をご登録ください)</h9><br><br />
    <%= form.text_field :customers_phone_number, size: "50x1", style: "font-size:20px", placeholder: "080-1234-5678" %>
  </div>

  <div class="field">
    <h9><%= form.label :FAX番号 %></h9><br />
    <%= form.text_field :customers_fax_number, size: "50x1", style: "font-size:20px", placeholder: "080-1234-5678" %>
  </div>

  <!-- <div class="birth_date_field">
  <h9><%= form.label :締め日 %></h9><br>
  <%= raw sprintf(
              form.date_select(
                  :closing_date,
                  use_month_numbers: true,
                  start_year:        2018,
                  end_year:          (Time.now.year + 5),
                  date_separator:    '%s'),
              '年 ', '月 ') + '日' %>
</div> -->

  <button class="button" type="submit">登録する</button>
<% end %>


<style>

@media only screen and (max-width: 750px) {
    div.birth_date_field {
      margin-right: 20px;
      color: #FFFFFF;
    }
 }

select{
font-size:18px;
border:1px;
}

</style>