<header class="align">

  <nav class="navigation navigation--inline">
    <ul>
      <li>
        <a href="http://127.0.0.1:3000/lists">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bell">
          <span class="invisible">　通知画面へ　</span>
        </a>
      </li>
      <li>
        <a href="http://127.0.0.1:3000/users">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bell">
          <span class="invisible">　マイページへ　</span>
        </a>
      </li>
    </ul>
  </nav>

</header>




<%= form_for @list do |form| %>
  <div class="mokuji"><%= form.label :取引先を登録 %></div>
  <div class="fm"><%= form.text_field :name, size: "25x1", style: "font-size:30px", placeholder: "例: ◯△□製作所" %></div>
  <button class="button" type="submit">登録する</button>
<% end %>


<% @lists.each do |list| %>
 <div class="box3">
     <%= link_to list.name, tasks_path(list.id) %>
     <%= link_to "編集", edit_list_path(list) %>
     <%= link_to "削除", list_path(list), :method => :delete %>
 </div>
<% end %>
