<h2><%= resource_name.to_s.humanize %> 情報編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <h9><%= f.label :事業者名 %></h9><br />
    <%= f.text_field :company_name, size: "50x1", style: "font-size:20px", placeholder: "○△□工場"%>
  </div>

  <div class="field">
    <h9><%= f.label :代表者名 %></h9><br />
    <%= f.text_field :president_name, size: "50x1", style: "font-size:20px", placeholder: "山田 太郎" %>
  </div>

  <div class="field">
    <h9><%= f.label :住所 %></h9><br />
    <%= f.text_field :address, size: "50x1", style: "font-size:20px", placeholder: "大阪府 〇〇市 〇〇 -1234-5678" %>
  </div>

  <div class="field">
    <h9><%= f.label :メールアドレス %></h9><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "50x1", style: "font-size:20px", placeholder: "gmailで登録してください"%>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <h9><%= f.label :新しいパスワード %></h9> <br><i>(もし変えたくないなら空白にしてください)</i><br><br>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", size: "50x1", style: "font-size:20px", placeholder: "パスワードを入力してください" %>
  </div>

  <div class="field">
    <h9><%= f.label :パスワード再入力 %></h9><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", size: "50x1", style: "font-size:20px", placeholder: "もう一度入力してください" %>
  </div>

  <div class="field">
    <h9><%= f.label :現在のパスワード %></h9><br />
    <%= f.password_field :current_password, autocomplete: "current-password", size: "50x1", style: "font-size:20px", placeholder: "変更前のパスワード" %>
  </div>

  <div class="actions">
    <button class="button2" type="submit">更新する</button>
  </div>
<% end %>

<div class="actions"><button class="button4" type="submit"><%= link_to "戻る", :users, :style => 'color: #FFFFFF;' %></button></div>