<head>
  <meta charset="utf-8">
  <!-- Global site tag (gtag.js) - Google Analytics -->
 <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130654065-1"></script>
 <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'UA-130654065-1');
 </script>
</head>

<meta name="viewport" content="width=device-width,initial-scale=1">
<body>

<header class="align">

  <nav class="navigation2 navigation--inline">
    <ul>
      <li>

        <a href="https://otask.herokuapp.com/lists">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bell">
          <span class="invisible">　<　</span>
          <%= link_to "＋仕事を追加する", new_list_task_path, class: "sn" %>
          <%= link_to "請求書作成画面へ", list_tasks_invoice_path, class: "sm" %>
          <%= link_to "納品書作成画面へ", list_tasks_delnote_path, class: "sm" %>
          <%= link_to "控え作成画面へ", list_tasks_ahead_path, class: "sm" %>
        </a>

        <a4><%= @list.name %></a4>
      </li>
    </ul>
  </nav>

</header>

<style>
  body {
    margin: 10px;
  }
  .list {
    padding-bottom: 20px;
    margin-right: 60px;
    float: left;
    width: $list-width;
    height: calc(100% - #{$gap} - #{$scrollbar-thickness});

  > * {
    background-color: $list-bg-color;
    color: #333;

    padding: 0 $gap;
  }
  }
  .list li {
    padding: 5px 10px;
    border: 1px solid #0c5460;
    list-style: none;
  }
  .list li:hover {
    cursor: move;
  }

  .list li {
      /*background-color: #fff;*/
      padding: $gap;
      &:not(:last-child) {
        margin-bottom: $gap;
      }

      border-radius: $card-border-radius;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

      img {
        display: block;
        width: calc(100% + 2 * #{$gap});
        margin: -$gap 0 $gap (-$gap);
        border-top-left-radius: $card-border-radius;
        border-top-right-radius: $card-border-radius;
      }
    }

    #list4 {
      margin-top: 50px;

    }

    @media only screen and (max-width: 750px) {
    .list {
    padding-bottom: 20px;
    margin-right: 30px;
    margin-left: 30px;
    float: left;
    width: 280px;
    height: calc(100% - #{$gap} - #{$scrollbar-thickness});

  > * {
    background-color: $list-bg-color;
    color: #333;

    padding: 0 $gap;
  }
  }
  .list li {
    padding: 5px 10px;
    border: 1px solid #0c5460;
    list-style: none;
  }
  .list li:hover {
    cursor: move;
  }

  .list li {
      /*background-color: #fff;*/
      padding: $gap;
      &:not(:last-child) {
        margin-bottom: $gap;
      }

      border-radius: $card-border-radius;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

      img {
        display: block;
        width: calc(100% + 2 * #{$gap});
        margin: -$gap 0 $gap (-$gap);
        border-top-left-radius: $card-border-radius;
        border-top-right-radius: $card-border-radius;
      }
    }
 }
  /*.a { background-color: #fff999; }
  .b { background-color: #f3981d; }
  .c { background-color: #a4d5bd; }*/

  a4 {
    color: #1E90FF;
    font-size: 15px;
    font-weight: 600;
    margin-left: 30px;
  }

  @media only screen and (max-width: 750px) {
    a4 {
    color: #1E90FF;
    font-size: 15px;
    font-weight: 600;
    margin-left: 0px;
  }
 }

  span.task {
  }

  span.taskname {
    text-align: left;
  }

  p {
      font-size: 15px;
      width: 200px;

    }

  a.class {
    width: 50px;
  }

  @media only screen and (max-width: 750px) {
    .sm {
      display: none;
    }
 }

</style>

 <div class="lists">
  <div class="lists_wrap">
  <div class="list">
    <ul class="list" id="list1">
    <header1>TODO</header1>
      <% Task.where(list_id: params[:list_id], flag_id: 0, color_id: 2).find_each do |task| %>
        <li class="a1">
         <span class="taskname">
         <%= link_to simple_format(task.taskname), edit_list_task_path(:id => task.id),  :style => 'color: #FFFFFF;', :class => "link_class" %>
         </span>
         <span class="task">
         <%= link_to '作業中', doing_list_task_path(:id => task.id), :method => :put %>
         <%= link_to '完了', finish_list_task_path(:id => task.id), :method => :put %>
         <%= link_to "削除", list_task_path(:id => task.id), :method => :delete, :style => 'color: #000000;' %>
         </span>
        </li>
      <% end %>
      <% Task.where(list_id: params[:list_id], flag_id: 0, color_id: 1).find_each do |task| %>
        <li class="a2">
        <span class="taskname">
         <%= link_to simple_format(task.taskname), edit_list_task_path(:id => task.id),  :style => 'color: #000000;' %>
        </span>
        <span class="task">
         <%= link_to '作業中', doing_list_task_path(:id => task.id), :method => :put %>
         <%= link_to '完了', finish_list_task_path(:id => task.id), :method => :put %>
         <%= link_to "削除", list_task_path(:id => task.id), :method => :delete, :style => 'color: #FF0000;' %>
        </span>
        </li>
      <% end %>
      <% Task.where(list_id: params[:list_id], flag_id: 0, color_id: 0).find_each do |task| %>
        <li class="a">
        <span class="taskname">
         <%= link_to simple_format(task.taskname), edit_list_task_path(:id => task.id),  :style => 'color: #000000;' %>
        </span>
        <span class="task">
         <%= link_to '作業中', doing_list_task_path(:id => task.id), :method => :put %>
         <%= link_to '完了', finish_list_task_path(:id => task.id), :method => :put %>
         <%= link_to "削除", list_task_path(:id => task.id), :method => :delete, :style => 'color: #FF0000;' %>
        </span>
        </li>
      <% end %>
    </ul>
</div>

  <div class="list">
    <ul class="list" id="list2">
    <header1>作業中</header1>
    <% Task.where(list_id: params[:list_id], flag_id: 1, color_id: 2).find_each do |task| %>
      <li class="a1">
       <span class="taskname">
        <%= link_to simple_format(task.taskname), edit_list_task_path(:id => task.id),  :style => 'color: #FFFFFF;' %>
       </span>
       <span class="task">
        <%= link_to 'TODO', todo_list_task_path(:id => task.id), :method => :put %>
        <%= link_to '完了', finish_list_task_path(:id => task.id), :method => :put %>
        <%= link_to "削除", list_task_path(:id => task.id), :method => :delete, :style => 'color: #000000;' %>
       </span>
      </li>
    <% end %>
    <% Task.where(list_id: params[:list_id], flag_id: 1, color_id: 1).find_each do |task| %>
      <li class="a2">
       <span class="taskname">
        <%= link_to simple_format(task.taskname), edit_list_task_path(:id => task.id),  :style => 'color: #000000;' %>
       </span>
       <span class="task">
        <%= link_to 'TODO', todo_list_task_path(:id => task.id), :method => :put %>
        <%= link_to '完了', finish_list_task_path(:id => task.id), :method => :put %>
        <%= link_to "削除", list_task_path(:id => task.id), :method => :delete, :style => 'color: #FF0000;' %>
       </span>
      </li>
    <% end %>
    <% Task.where(list_id: params[:list_id], flag_id: 1, color_id: 0).find_each do |task| %>
      <li class="a">
       <span class="taskname">
        <%= link_to simple_format(task.taskname), edit_list_task_path(:id => task.id),  :style => 'color: #000000;' %>
       </span>
       <span class="task">
        <%= link_to 'TODO', todo_list_task_path(:id => task.id), :method => :put %>
        <%= link_to '完了', finish_list_task_path(:id => task.id), :method => :put %>
        <%= link_to "削除", list_task_path(:id => task.id), :method => :delete, :style => 'color: #FF0000;' %>
       </span>
      </li>
    <% end %>
    </ul>
  </div>


  <div class="list">
    <ul class="list" id="list3">
    <header1>完了</header1>
    <% Task.where(list_id: params[:list_id], flag_id: 2, color_id: 2).find_each do |task| %>
      <li class="a1">
       <span class="taskname">
        <%= link_to simple_format(task.taskname), edit_list_task_path(:id => task.id),  :style => 'color: #FFFFFF;' %>
       </span>
       <span class="task">
        <%= link_to 'TODO', todo_list_task_path(:id => task.id), :method => :put %>
        <%= link_to '作業中', doing_list_task_path(:id => task.id), :method => :put %>
        <%= link_to "請求", sale_list_task_path(:id => task.id), :method => :put, :style => 'color: #000000;' %>
       </span>
      </li>
    <% end %>
    <% Task.where(list_id: params[:list_id], flag_id: 2, color_id: 1).find_each do |task| %>
      <li class="a2">
      <span class="taskname">
        <%= link_to simple_format(task.taskname), edit_list_task_path(:id => task.id),  :style => 'color: #000000;' %>
      </span>
      <span class="task">
        <%= link_to 'TODO', todo_list_task_path(:id => task.id), :method => :put %>
        <%= link_to '作業中', doing_list_task_path(:id => task.id), :method => :put %>
        <%= link_to "請求", sale_list_task_path(:id => task.id), :method => :put, :style => 'color: #FF0000;' %>
      </span>
      </li>
    <% end %>
    <% Task.where(list_id: params[:list_id], flag_id: 2, color_id: 0).find_each do |task| %>
      <li class="a">
       <span class="taskname">
        <%= link_to simple_format(task.taskname), edit_list_task_path(:id => task.id),  :style => 'color: #000000;' %>
       </span>
       <span class="task">
        <%= link_to 'TODO', todo_list_task_path(:id => task.id), :method => :put %>
        <%= link_to '作業中', doing_list_task_path(:id => task.id), :method => :put %>
        <%= link_to "請求", sale_list_task_path(:id => task.id), :method => :put, :style => 'color: #FF0000;' %>
       </span>
      </li>
    <% end %>
    </ul>

    <ul class="list" id="list4">
    <header1>請求</header1>
    <% Task.where(list_id: params[:list_id], flag_id: 3, color_id: 2).find_each do |task| %>
      <li class="a1">
      <span class="taskname">
        <%= link_to simple_format(task.taskname), edit_list_task_path(:id => task.id),  :style => 'color: #FFFFFF;' %>
      </span>
      <span class="task">
        <%= link_to '完了に戻す', finish_list_task_path(:id => task.id), :method => :put %>
        <%= link_to "履歴に残す", task_clear_list_task_path(:id => task.id), :method => :put, :style => 'color: #000000;' %>
      </span>
      </li>
    <% end %>
    <% Task.where(list_id: params[:list_id], flag_id: 3, color_id: 1).find_each do |task| %>
      <li class="a2">
       <span class="taskname">
        <%= link_to simple_format(task.taskname), edit_list_task_path(:id => task.id),  :style => 'color: #000000;' %>
       </span>
       <span class="task">
        <%= link_to '完了に戻す', finish_list_task_path(:id => task.id), :method => :put %>
        <%= link_to "履歴に残す", task_clear_list_task_path(:id => task.id), :method => :put, :style => 'color: #FF0000;' %>
       </span>
      </li>
    <% end %>
    <% Task.where(list_id: params[:list_id], flag_id: 3, color_id: 0).find_each do |task| %>
      <li class="a">
       <span class="taskname">
        <%= link_to simple_format(task.taskname), edit_list_task_path(:id => task.id),  :style => 'color: #000000;' %>
       </span>
       <span class="task">
        <%= link_to '完了に戻す', finish_list_task_path(:id => task.id), :method => :put %>
        <%= link_to "履歴に残す", task_clear_list_task_path(:id => task.id), :method => :put, :style => 'color: #FF0000;' %>
       </span>
      </li>
    <% end %>
    <p>請求金額  <%= @invoice_sale %>円</p>
    </ul>
  </div>


</body>
