<style>
 table {
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
  color: #FFFFFF;
 }
.goukei {
  text-align: center;
  color: #FFFFFF;
  margin-top: 20px;
}


</style>




<%= form_for @task, :html => {:multipart => true}, url: list_tasks_path do |f| %>
<% if @task.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2>エラーがあります</h2>
      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<ul>


  <div class="field">
    <h9><%= f.label :仕事名 %></h9><br />
    <%= f.text_area :taskname, size: "50x2", style: "font-size:20px", placeholder: "シャフト"%>
  </div>

  <div class="field">
    <h9><%= f.label :画像 %></h9><br />
        <%= f.file_field :picture  %>

        <%= image_tag @task.picture.url if @task.picture? %>
  </div>

  <div class="field">
    <h9><%= f.label :注文番号 %></h9><br />
    <%= f.text_field :order_number, size: "50x1", style: "font-size:20px", placeholder:"1234-5678" %>
  </div>

  <div class="field">
    <h9><%= f.label :個数 %></h9><br />
    <%= f.text_field :number, id: "tasks_number", size: "50x1", style: "font-size:20px", placeholder: "10本"%>   </div>

  <div class="field">
    <h9><%= f.label :単価 %></h9><br />
    <%= f.text_field :price, id: "tasks_price", size: "50x1", style: "font-size:20px", placeholder: "1000円" %>  </div>


<html>
<body>

<div class="goukei">合計金額 (税抜)</div>
 <table border = "1">
   <tr><td id = "answer">円</td></tr>
 </table>

<script type = "text/javascript">
<!--
window.onload = function() {
var number = document.getElementById( "tasks_number" ); // DOM要素を用意しておく
var price = document.getElementById( "tasks_price" ); // DOM要素を用意しておく
var answer = document.getElementById( "answer" ); // DOM要素を用意しておく

number.value = ""; // 初期化
price.value = ""; // 初期化
answer.value = ""; // 初期化

price.onkeyup = function() { // キー入力が終わった瞬間に実行される関数の宣言
answer.innerHTML = parseInt( number.value, 10 ) * parseInt( price.value, 10 ); // 実際の計算
};
}
// -->
</script>
</body>
</html>






<div class="birth_date_field">
  <h9><%= f.label :納期 %></h9><br>
  <%= raw sprintf(
              f.date_select(
                  :term,
                  use_month_numbers: true,
                  start_year:        2018,
                  end_year:          (Time.now.year + 5),
                  default:           Date.new(2018, 1, 1),
                  date_separator:    '%s'),
              '年 ', '月 ') + '日' %>
</div>


  <div class="field2">
    <h9><%= f.label :備考 %></h9><br />
    <%= f.text_field :remarks, size: "50x1", style: "font-size:20px" %>
  </div>


  <div class="actions">
    <button class="button2" type="submit">保存する</button><br><br>
  </div>

</ul>
<% end %>





