<header class="align">

  <nav class="navigation2 navigation--inline">
    <ul>
      <li>
        <a href="https://otask.herokuapp.com/users/expenditure_history">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bell">
          <span class="invisible">　<　</span>
        </a>
      </li>
    </ul>
  </nav>

</header>


<div class="mokuji1">11月支出金額</div>

<div class="mokuji2">合計 <%= @expenditure_month %> 円</div>


<div class="lists2">
  <div class="lists2_wrap">
  <div class="list">
    <ul class="list" id="list1">
    <header1>家賃・地代</header1>
      <% @expenditures_rent.each do |expenditure| %>
       <div class="box3">
         <a><%= expenditure.expenditure_date.strftime("%-d日") %>, <%= expenditure.expenditure_money %>円, <%= expenditure.expenditure_remarks %> </a>
       </div>
      <% end %>
    </ul>
  </div>


  <div class="list">
    <ul class="list" id="list2">
    <header1>光熱費</header1>
      <% @expenditures_utility.each do |expenditure| %>
        <div class="box3">
         <a><%= expenditure.expenditure_date.strftime("%-d日") %>, <%= expenditure.expenditure_money %>円, <%= expenditure.expenditure_remarks %> </a>
        </div>
      <% end %>
    </ul>
  </div>


  <div class="list">
    <ul class="list" id="list3">
    <header1>人件費</header1>
      <% @expenditures_personnel.each do |expenditure| %>
        <div class="box3">
         <a><%= expenditure.expenditure_date.strftime("%-d日") %>, <%= expenditure.expenditure_money %>円, <%= expenditure.expenditure_remarks %> </a>
        </div>
      <% end %>
    </ul>
  </div>


  <div class="list">
    <ul class="list" id="list4">
    <header1>交通費</header1>
      <% @expenditures_transport.each do |expenditure| %>
        <div class="box3">
         <a><%= expenditure.expenditure_date.strftime("%-d日") %>, <%= expenditure.expenditure_money %>円, <%= expenditure.expenditure_remarks %> </a>
        </div>
      <% end %>
    </ul>
  </div>


  <div class="list">
    <ul class="list" id="list5">
    <header1>ネット通信費</header1>
      <% @expenditures_net.each do |expenditure| %>
        <div class="box3">
         <a><%= expenditure.expenditure_date.strftime("%-d日") %>, <%= expenditure.expenditure_money %>円, <%= expenditure.expenditure_remarks %> </a>
        </div>
      <% end %>
    </ul>
  </div>



  <div class="list">
    <ul class="list" id="list6">
    <header1>機会ローン代</header1>
      <% @expenditures_loan.each do |expenditure| %>
        <div class="box3">
         <a><%= expenditure.expenditure_date.strftime("%-d日") %>, <%= expenditure.expenditure_money %>円, <%= expenditure.expenditure_remarks %> </a>
        </div>
      <% end %>
    </ul>
  </div>

  <div class="list">
    <ul class="list" id="list7">
    <header1>その他</header1>
      <% @expenditures_otherwise.each do |expenditure| %>
        <div class="box3">
         <a><%= expenditure.expenditure_date.strftime("%-d日") %>, <%= expenditure.expenditure_money %>円, <%= expenditure.expenditure_remarks %> </a>
        </div>
      <% end %>
    </ul>
  </div>
  </div>
</div>


<div class="listt">
  <div class="listt_wrap">
  <div class="list">
    <ul class="list" id="list8">
    <header1>材料代</header1>
        <% @material_cost.each do |task| %>
        <div class="box3">
           <a><%= task.taskname %>,        <%= task.material_cost %>円</a>
        </div>
      <% end %>
    </ul>
  </div>


  <div class="list">
    <ul class="list" id="list9">
    <header1>仲介料</header1>
        <% @brokerage_fee.each do |task| %>
        <div class="box3">
           <a><%= task.taskname %>,        <%= task.brokerage_fee %>円</a>
        </div>
      <% end %>
    </ul>
  </div>

  <div class="list">
    <ul class="list" id="list10">
    <header1>加工代</header1>
        <% @processing_fee.each do |task| %>
        <div class="box3">
           <a><%= task.taskname %>,        <%= task.processing_fee %>円</a>
        </div>
      <% end %>
    </ul>
  </div>
</div>
</div>


<style>
  body {
    margin: 10px;
  }
  .list {
    padding-bottom: 20px;
    /*margin-top: 200px;*/
    /*margin-right: 50px;
    margin-left:  50px;*/
    /*float: left;*/
    width: $list-width;
    height: calc(100% - #{$gap} - #{$scrollbar-thickness});

  > * {
    background-color: $list-bg-color;
    color: #333;

    padding: 0 $gap;
  }
  }
  .list li {
    padding: 5px 10px;
    border: 1px solid #0c5460;
    list-style: none;
  }
  .list li:hover {
    cursor: move;
  }

  .list li {
      /*background-color: #fff;*/
      padding: $gap;
      &:not(:last-child) {
        margin-bottom: $gap;
      }

      border-radius: $card-border-radius;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

      img {
        display: block;
        width: calc(100% + 2 * #{$gap});
        margin: -$gap 0 $gap (-$gap);
        border-top-left-radius: $card-border-radius;
        border-top-right-radius: $card-border-radius;
      }
    }


    #list1 {
      margin-top: 235px;

    }

    @media only screen and (max-width: 750px) {
    .list {
      display: none;
 }
  /*.a { background-color: #fff999; }
  .b { background-color: #f3981d; }
  .c { background-color: #a4d5bd; }*/

  a4 {
    color: #1E90FF;
    font-size: 15px;
    font-weight: 600;
    margin-left: 30px;
  }

  @media only screen and (max-width: 750px) {
    a4 {
    color: #1E90FF;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }
 }

  span.task {
  }

  span.taskname {
    text-align: left;
  }

  p {
      font-size: 15px;
      width: 200px;

    }

  a.class {
    width: 50px;
  }

  @media only screen and (max-width: 750px) {
    .sm {
      display: none;
    }
 }


</style>