<head>
  <meta charset="utf-8">
  <!-- Global site tag (gtag.js) - Google Analytics -->
 <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130654065-1"></script>
 <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'UA-130654065-1');
 </script>
</head>

<meta name="viewport" content="width=device-width,initial-scale=1">

<header class="align">

  <nav class="navigation2 navigation--inline">
    <ul>
      <li>
       <a href="https://otask.herokuapp.com/users/expenditure">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bell">
          <span class="invisible">　<　</span>
        </a>
      <li>
      <li>
       <a10>支出履歴</a10>
      </li>
    </ul>
  </nav>

</header>



 <style>
  body {
    margin: 10px;
  }
  .list {
    padding-bottom: 20px;
    margin-right: 60px;
    float: left;
    width: $list-width;
    height: calc(100% - #{$gap} - #{$scrollbar-thickness});

  > * {
    background-color: $list-bg-color;
    color: #333;

    padding: 0 $gap;
  }
  }
  .list li {
    padding: 5px 10px;
    border: 1px solid #0c5460;
    list-style: none;
  }
  .list li:hover {
    cursor: move;
  }

  .list li {
      background-color: #fff;
      padding: $gap;
      &:not(:last-child) {
        margin-bottom: $gap;
      }

      border-radius: $card-border-radius;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

      img {
        display: block;
        width: calc(100% + 2 * #{$gap});
        margin: -$gap 0 $gap (-$gap);
        border-top-left-radius: $card-border-radius;
        border-top-right-radius: $card-border-radius;
      }
    }

    #list4 {
      margin-top: 50px;

    }
  /*.a { background-color: #fff999; }
  .b { background-color: #f3981d; }
  .c { background-color: #a4d5bd; }*/

  a2 {
    color: #1E90FF;
    font-size: 15px;
    font-weight: 600;
    margin-left: 30px;
  }

   a10 {
    color: #000000;
    font-size: 30px;
    font-weight: 600;
    margin-left: 510px;
    margin-top: 10px;
   }
</style>

<!-- <div class="container"> -->

 <div class="lists">
  <div class="lists_wrap">
  <div class="list">
    <ul class="list" id="list1">
    <header1>2018年</header1>
    <li class="a"><div class="boxs12"><%= link_to "12月", users_expenditure_months_path(type: '12') %></div></li>
    </ul>
</div>

  <div class="list">
    <ul class="list" id="list2">
    <header1>2019年</header1>
    <li class="a"><div class="boxs2"><%= link_to "1月", users_expenditure_months_path(type: '1') %></div></li>
    <li class="a"><div class="boxs2"><%= link_to "2月", users_expenditure_months_path(type: '2') %></div></li>
    <li class="a"><div class="boxs3"><%= link_to "3月", users_expenditure_months_path(type: '3') %></div></li>
    <li class="a"><div class="boxs4"><%= link_to "4月", users_expenditure_months_path(type: '4') %></div></li>
    <li class="a"><div class="boxs5"><%= link_to "5月", users_expenditure_months_path(type: '5') %></div></li>
    <li class="a"><div class="boxs6"><%= link_to "6月", users_expenditure_months_path(type: '6') %></div></li>
    <li class="a"><div class="boxs7"><%= link_to "7月", users_expenditure_months_path(type: '7') %></div></li>
    <li class="a"><div class="boxs8"><%= link_to "8月", users_expenditure_months_path(type: '8') %></div></li>
    <li class="a"><div class="boxs9"><%= link_to "9月", users_expenditure_months_path(type: '9') %></div></li>
    <li class="a"><div class="boxs10"><%= link_to "10月", users_expenditure_months_path(type: '10') %></div></li>
    <li class="a"><div class="boxs11"><%= link_to "11月", users_expenditure_months_path(type: '11') %></div></li>
    </ul>
  </div>

  <div class="list">
    <ul class="list" id="list3">
    <header1>2020年</header1>
    <!-- <li class="a"><div class="boxs1"><a href="http://127.0.0.1:3000/lists/one_month">1月</a></div></li>
    <li class="a"><div class="boxs2"><a href="http://127.0.0.1:3000/lists/two_month">2月</a></div></li>
    <li class="a"><div class="boxs3"><a href="http://127.0.0.1:3000/lists/three_month">3月</a></div></li>
    <li class="a"><div class="boxs4"><a href="http://127.0.0.1:3000/lists/four_month">4月</a></div></li>
    <li class="a"><div class="boxs5"><a href="http://127.0.0.1:3000/lists/five_month">5月</a></div></li>
    <li class="a"><div class="boxs6"><a href="http://127.0.0.1:3000/lists/six_month">6月</a></div></li>
    <li class="a"><div class="boxs7"><a href="http://127.0.0.1:3000/lists/seven_month">7月</a></div></li>
    <li class="a"><div class="boxs8"><a href="http://127.0.0.1:3000/lists/eight_month">8月</a></div></li>
    <li class="a"><div class="boxs9"><a href="http://127.0.0.1:3000/lists/nine_month">9月</a></div></li>
    <li class="a"> <div class="boxs10"><a href="http://127.0.0.1:3000/lists/ten_month">10月</a></div></li>
    <li class="a"><div class="boxs11"><a href="http://127.0.0.1:3000/lists/eleven_month">11月</a></div></li>
    <li class="a"><div class="boxs12"><a href="http://127.0.0.1:3000/lists/twelve_month">12月</a></div></li> -->
    </ul>
  </div>