<meta name="viewport" content="width=device-width,initial-scale=1">


<head>
  <meta charset="utf-8">
  <!-- Global site tag (gtag.js) - Google Analytics -->
 <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130654065-1"></script>
 <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'UA-130654065-1');
 </script>
</head>

<header class="align">
  <nav class="navigation navigation--inline">
    <ul>
      <li>
        <a href="https://otask.herokuapp.com/users">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bell">
          <span class="demoSpan1">
          <span class="demoSpan2">
          </span>
          </span>
        </a>
      </li>
      <!-- <li>
        <a href="http://127.0.0.1:3000/users">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bell">
          <span class="demoSpan3">
          </span>
        </a>
      </li>
      <li>
        <a href="http://127.0.0.1:3000/users">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bell">
          <span class="mail icon"></span>
        </a>
      </li>
      <li>
        <a href="http://127.0.0.1:3000/users">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bell">
          <span class="calendar"></span>
        </a>
      </li> -->
    </ul>
  </nav>
</header>



  <div class="sales">

   <%= link_to users_sale_history_path, :style=>"text-decoration: none;", class: "sh" do %>
    <p>売上管理</p>
   <% end %>

   <%= link_to users_expenditure_path, :style=>"text-decoration: none;", class: "expense" do %>
    <p>支出管理</p>
   <% end %>

  </div>


 <div class="today">
  <div class="todaysales"><a>今日の売上</a></div>
  <div class="todayexpenses"><a>今日の支出</a></div>
  <div class="todaybenefit"><a>今日の純利益</a></div>
 </div>
 <div class="todayunder">
  <div class="todaysales"><a><%= @income_day %>円</a></div>
  <span class="minus"><a>-</a></span>
  <div class="todayexpenses"><a><%= @expenditure_day %>円&nbsp;&nbsp;</a></div>
  <span class="equal"><a>=</a></span>
  <div class="todaybenefit"><a><%= @profits_day %>円&nbsp;</a></div>
 </div>

 <div class="month">
  <div class="monthsales"><a>今月の売上</a></div>
  <div class="monthexpenses"><a>今月の支出</a></div>
  <div class="monthbenefit"><a>今月の純利益</a></div>
 </div>
 <div class="monthunder">
  <div class="todaysales"><a><%= @income_month %>円</a></div>
  <span class="minus"><a>-</a></span>
  <div class="todayexpenses"><a><%= @expenditure_month %>円&nbsp;&nbsp;</a></div>
  <span class="equal"><a>=</a></span>
  <div class="todaybenefit"><a><%= @profits_month %>円&nbsp;</a></div>
 </div>

 <div class="year">
  <div class="yearsales"><a>今年の売上</a></div>
  <div class="yearexpenses"><a>今年の支出</a></div>
  <div class="yearbenefit"><a>今年の純利益</a></div>
 </div>
 <div class="yearunder">
  <div class="todaysales"><a><%= @income_year %>円</a></div>
  <span class="minus"><a>-</a></span>
  <div class="todayexpenses"><a><%= @expenditure_year %>円&nbsp;&nbsp;</a></div>
  <span class="equal"><a>=</a></span>
  <div class="todaybenefit"><a><%= @profits_year %>円&nbsp;</a></div>
 </div>
 <!-- <div><%= @user.sales %>円</div> -->
 <!-- <div><%= @tasks %>円</div> -->
 <!-- <div><%= @taskss %>円</div> -->


 <style type="text/css">
 span{height:40px; width:40px; display:block; position:relative;}

.demoSpan1{width:40px; height:40px; display:block;}

.demoSpan1:before{content:''; height:25px; width:29px; display:block; border:3px #333 solid; border-top:0; position:absolute; top:15px; left:5px;}

.demoSpan1:after{content:''; height:8px; width:6px; display:block; position:absolute; top:25px; left:17px; border:2px solid #333;}

.demoSpan2:before{content:''; height:12px; width:3px; display:block; position:absolute; top:3px; left:37px; background:#333;}

.demoSpan2:after{content:''; height:28px; width:27px; border-top:5px #333 solid; border-right:5px #333 solid; position:absolute; top:3px; left:6px; transform:scale(1,0.8) rotate(-45deg);-webkit-transform:scale(1,0.8) rotate(-45deg);-moz-transform:scale(1,0.8) rotate(-45deg);-o-transform:scale(1,0.8) rotate(-45deg);-ms-transform:scale(1,0.8) rotate(-45deg);}


@media only screen and (max-width: 750px) {
 span{height:40px; width:40px; display:block; position:relative;}

.demoSpan1{width:40px; height:40px; display:block;}

.demoSpan1:before{content:''; height:25px; width:29px; display:block; border:3px #333 solid; border-top:0; position:absolute; top:15px; left:-170px;}

.demoSpan1:after{content:''; height:8px; width:6px; display:block; position:absolute; top:25px; left:-158px; border:2px solid #333;}

.demoSpan2:before{content:''; height:12px; width:3px; display:block; position:absolute; top:3px; left:-138px; background:#333;}

.demoSpan2:after{content:''; height:28px; width:27px; border-top:5px #333 solid; border-right:5px #333 solid; position:absolute; top:3px; left:-169px; transform:scale(1,0.8) rotate(-45deg);-webkit-transform:scale(1,0.8) rotate(-45deg);-moz-transform:scale(1,0.8) rotate(-45deg);-o-transform:scale(1,0.8) rotate(-45deg);-ms-transform:scale(1,0.8) rotate(-45deg);}

}

  </style>

<style type="text/css">
 span{height:40px; width:40px; display:block; position:relative;}

.demoSpan3:before, .demoSpan3:after{content:''; height:20px; display:block; position:absolute; top:0; left:920px; }

.demoSpan3:before{width:20px; border:3px #333 solid; border-radius:100%;-webkit-border-radius:100%;-moz-border-radius:100%;}

.demoSpan3:after{width:7px; background:#333; transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg); top:17px; left:944px;}

</style>

<style>
  .mail.icon {
  color: #000;
  position: absolute;
  margin-left: 215px;
  margin-top: 4px;
  width: 40px;
  height: 30px;
  border-radius: 3px;
  border: solid 3px currentColor;
}
.mail.icon:before {
  content: '';
  position: absolute;
  left: 19px;
  top: -14px;
  width: 2px;
  height: 25px;
  background-color: currentColor;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotate(-61deg);
          transform: rotate(-61deg);
}
.mail.icon:after {
  content: '';
  position: absolute;
  left: 19px;
  top: -14px;
  width: 2px;
  height: 25px;
  background-color: currentColor;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotate(61deg);
          transform: rotate(61deg);
}
</style>

<style>
  /* 枠 */
.calendar {
  font-size: 30px;
  position: relative;
  top: 5px;
  left: 580px;
  width: 1.4em;
  height: 1em;
  border: 0.1em solid #000000;
  border-radius: 0.1em;
  box-shadow: inset 0 0.3em 0 0 #000000;
}
/* リング */
.calendar::before {
  content: "";
  position: absolute;
  top: -0.4em;
  left: 0.2em;
  width: 0.2em;
  height: 0.5em;
  border-radius: 0.1em;
  background-color: #000000;
  box-shadow:
    0 0 0 0.1em #fff,
    0.8em 0 0 0 #000000,
    0.8em 0 0 0.1em #fff
  ;
}
/* 日付 */
.calendar::after {
  content: "";
  position: absolute;
  top: 0.4em;
  left: 0.15em;
  width: 0.2em;
  height: 0.2em;
  background-color: #000000;
  box-shadow:
    0.3em 0 0 0 #000000,
    0.6em 0 0 0 #000000,
    0.9em 0 0 0 #000000,
    0 0.3em 0 0 #000000,
    0.3em 0.3em 0 0 #000000,
    0.6em 0.3em 0 0 #000000,
    0.9em 0.3em 0 0 #000000
  ;
}

.sm {
  margin-top: 150px;
  font-size: 20px;
  text-decoration: none;
  color: #FFFFFF;
}

p {
          color: #fff;
          font-size: 20px;
          text-decoration: none;
          font-weight: 600;
          margin-top: 0px;
          margin-bottom: 0px;
          }

.sales {

  margin-top: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}

.sh {
         position: relative; left: 200px;
         width: 124px;
           height: 20px;padding: 20px;
           background: linear-gradient(-135deg, #FF8C00, #FFA500, #FFD700);     /* 背景色     */
           border: 4px; font-size: 18px; color: #FFFFFF;
           text-align: center;
           border-top-left-radius: 30px;
           border-top-right-radius: 30px;
           border-bottom-right-radius: 30px;
           border-bottom-left-radius: 30px;
           box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.expense {
  position: relative; right: 200px;
   margin-right: 40px;
   width: 124px;
           height: 20px;padding: 20px;
           background: linear-gradient(-135deg, #FF8C00, #FFA500, #FFD700);     /* 背景色     */
           border: 4px; font-size: 18px; color: #FFFFFF;
           text-align: center;
           border-top-left-radius: 30px;
           border-top-right-radius: 30px;
           border-bottom-right-radius: 30px;
           border-bottom-left-radius: 30px;
           box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.today {

  margin-top: 80px;
  margin-left: 300px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 60px;
  width: 800px;
  background-color: #FFC0CB;

}

.todaysales {
  /*position: relative; left: 150px;*/
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px
}

.minus {
  position: absolute; left: 550px;
  font-size: 30px;
  font-weight: 600;
  padding-top: 20px
}

.todayexpenses {
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px
}

.equal {
  position: absolute; right: 580px;
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px
}

.todaybenefit {
  /*margin-right: 20px;*/
  /*position: relative; right: 150px;*/
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px
}

.month {

  margin-top: 50px;
  margin-left: 300px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 60px;
  width: 800px;
  background-color: #FFC0CB;

}

.monthsales {
  /*position: relative; left: 150px;*/
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px
}

.monthexpenses {
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px
}

.monthbenefit {
  /*position: relative; right: 150px;*/
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px
}

.year {

  margin-top: 50px;
  margin-left: 300px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 60px;
  width: 800px;
  background-color: #FFC0CB;

}

.yearsales {
  /*position: relative; left: 150px;*/
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px
}

.yearexpenses {
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px
}

.yearbenefit {
  /*margin-right: 20px;
  position: relative; right: 150px;*/
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px
}

.todayunder {

  margin-left: 300px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 60px;
  width: 800px;
  background-color: #FFFFFF;

}

.monthunder {

  margin-left: 300px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 60px;
  width: 800px;
  background-color: #FFFFFF;

}

.yearunder {

  margin-left: 300px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 60px;
  width: 800px;
  background-color: #FFFFFF;

}


@media only screen and (max-width: 750px) {
 .today {

  margin-top: 30px;
  margin-left:20px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 60px;
  width: 350px;
  background-color: #FFC0CB;
  }

}

@media only screen and (max-width: 750px) {
 .todaysales {
  /*position: relative; left: 150px;*/
  font-size: 15px;
  font-weight: 600;
  padding-top: 20px
 }
}

@media only screen and (max-width: 750px) {
 .todayexpenses {
  font-size: 15px;
  font-weight: 600;
  padding-top: 20px;
  margin-right: 0px;
 }
}

@media only screen and (max-width: 750px) {
 .todaybenefit {
  /*margin-right: 20px;*/
  /*position: relative; right: 150px;*/
  font-size: 15px;
  font-weight: 600;
  padding-top: 20px
}
}

@media only screen and (max-width: 750px) {
 .month {

  margin-top: 30px;
  margin-left: 20px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 60px;
  width: 350px;
  background-color: #FFC0CB;

}
}

@media only screen and (max-width: 750px) {
 .monthsales {
  /*position: relative; left: 150px;*/
  font-size: 15px;
  font-weight: 600;
  padding-top: 20px
 }
}

@media only screen and (max-width: 750px) {
 .monthexpenses {
  font-size: 15px;
  font-weight: 600;
  padding-top: 20px;
  margin-right: 0px;
 }
}

@media only screen and (max-width: 750px) {
 .monthbenefit {
  /*margin-right: 20px;*/
  /*position: relative; right: 150px;*/
  font-size: 15px;
  font-weight: 600;
  padding-top: 15px
 }
}

@media only screen and (max-width: 750px) {
 .year {

  margin-top: 30px;
  margin-left: 20px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 60px;
  width: 350px;
  background-color: #FFC0CB;

 }
}

@media only screen and (max-width: 750px) {
 .yearsales {
  /*position: relative; left: 150px;*/
  font-size: 15px;
  font-weight: 600;
  padding-top: 20px
 }
}

@media only screen and (max-width: 750px) {
 .yearexpenses {
  font-size: 15px;
  font-weight: 600;
  padding-top: 20px;
  margin-right: 0px;
 }
}

@media only screen and (max-width: 750px) {
 .yearbenefit {
  /*margin-right: 20px;*/
  /*position: relative; right: 150px;*/
  font-size: 15px;
  font-weight: 600;
  padding-top: 20px
}
}

@media only screen and (max-width: 750px) {
 .todayunder {

  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 60px;
  width: 350px;
  background-color: #FFFFFF;

}
}

@media only screen and (max-width: 750px) {
 .monthunder {

  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 60px;
  width: 350px;
  background-color: #FFFFFF;

}
}

@media only screen and (max-width: 750px) {
 .yearunder {

  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 60px;
  width: 350px;
  background-color: #FFFFFF;

}
}

@media only screen and (max-width: 750px) {
 .minus {
  position: absolute; left: 125px;
  font-size: 20px;
  font-weight: 500;
  padding-top: 18px
  margin-left: 10px;
  margin-right: 10px;
}
}

@media only screen and (max-width: 750px) {
 .equal {
  position: absolute; left:  235px;
  font-size: 10px;
  font-weight: 600;
  padding-top: 19px
  margin-left: 10px;
  margin-right: 10px;
}
}



@media only screen and (max-width: 750px) {
 .sales {
    margin-top: 130px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
 }
}

@media only screen and (max-width: 750px) {
 .sh {
         /*position: relative; left: 10px;
         width: 80px;
           height: 20px;padding: 20px;
           background: linear-gradient(-135deg, #FF8C00, #FFA500, #FFD700);
           border: 4px; font-size: 18px; color: #FFFFFF;
           text-align: center;
           border-top-left-radius: 30px;
           border-top-right-radius: 30px;
           border-bottom-right-radius: 30px;
           border-bottom-left-radius: 30px;
           box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);*/
           display: none !important;
}
}


@media only screen and (max-width: 750px) {
 .expense {
  position: relative; left: 30px;
   margin-right: 55px;
   width: 80px;
           height: 20px;padding: 20px;
           background: linear-gradient(-135deg, #FF8C00, #FFA500, #FFD700);
           border: 4px; font-size: 18px; color: #FFFFFF;
           text-align: center;
           border-top-left-radius: 30px;
           border-top-right-radius: 30px;
           border-bottom-right-radius: 30px;
           border-bottom-left-radius: 30px;
           box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}
}

</style>

