<li>
  <%= link_to "売上管理", users_sale_history_path, class: "sm" %>
  <%= link_to "支出管理", users_expenditure_path, class: "sm" %>
</li>

 <div class="box9"> <a>今日の売上<br><br><br><br><%= @user.sales %>円</a></div><br><br><br><br>
 <div class="box11"><a>今月の売上<br><br><br><br><%= @tasks %>円</a></div> <br><br><br><br>
 <div class="box12"><a>今年の売上<br><br><br><br><%= @taskss %>円<br><br><br><br></a></div>


