<meta name="viewport" content="width=device-width,initial-scale=1">
<style>
 table {
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
  color: #FFFFFF;
 }
.goukei {
  text-align: center;
  color: #FFFFFF;
  margin-top: 20px;
}

@media only screen and (max-width: 750px) {
    .textArea {
      width: 240px;
      font-size: 18px;
    }
 }

 @media only screen and (max-width: 750px) {
    button.button2 {
      width: 144px;
      height: 35px;
      font-size: 18px;
      padding: 0px;
    }
 }

</style>

<%= form_for @expenditure, :html => {:multipart => true}, url: expenditures_path do |f| %>
<% if @expenditure.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2>エラーがあります</h2>
      <ul>
      <% @expenditure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<ul>

  <br><br><br><br><br><br><div class="birth_date_field">
    <h9><%= f.label :月 %></h9><br>
    <%= raw sprintf(
              f.date_select(
                  :expenditure_date,
                  use_month_numbers: true,
                  start_year:        2018,
                  end_year:          (Time.now.year + 5),
                  date_separator:    '%s'),
              '年 ', '月 ') + '日' %>
  </div><br><br><br>

   <div class="field"><h9><%= f.label :"項目" %></h9><br>
   <%= f.select :expenditure_item, [["家賃・地代", "家賃・地代"], ["光熱費", "光熱費"], ["人件費", "人件費"], ["交通費", "交通費"], ["ネット通信費", "ネット通信費"], ["機械ローン", "機械ローン"], ["その他", "その他"]] ,class:"form-control" %></div><br><br><br>


  <div class="field">
    <h9><%= f.label :金額 %></h9><br />
    <%= f.text_field :expenditure_money, size: "50x1", style: "font-size:20px", placeholder: "1000円", class: "textArea" %>  </div><br><br><br>

  <div class="field2">
    <h9><%= f.label :備考 %></h9><br />
    <%= f.text_area :expenditure_remarks, size: "50x2", style: "font-size:20px", class: "textArea" %>
  </div>


  <div class="actions">
    <button class="button2" type="submit" id="post">保存する</button><br><br>
  </div>

</ul>
<% end %>
